// Your custom styles
.primary-color, ul.stepper li.active a .circle, ul.stepper li.completed a .circle {
  background-color: #F6F4F5 !important;
}

.primary-color-dark {
  background-color: #6e6c6d !important; }

.secondary-color {
  background-color: #9A8A81 !important; }

.secondary-color-dark {
  background-color: #564d47 !important; }

.default-color {
  background-color: #B6A094 !important; }

.default-color-dark {
  background-color: #4e4241 !important; }

.info-color {
  background-color: #33b5e5 !important; }

.info-color-dark {
  background-color: #0099cc !important; }

.success-color {
  background-color: #00c851 !important; }

.success-color-dark {
  background-color: #007e33 !important; }

.warning-color {
  background-color: #ffbb33 !important; }

.warning-color-dark {
  background-color: #ff8800 !important; }

.danger-color, ul.stepper li.warning a .circle {
  background-color: #ff3547 !important; }

.danger-color-dark {
  background-color: #cc0000 !important; }

.elegant-color {
  background-color: #2e2e2e !important; }

.elegant-color-dark {
  background-color: #212121 !important; }

.stylish-color {
  background-color: #4b515d !important; }

.stylish-color-dark {
  background-color: #3e4551 !important; }

.unique-color {
  background-color: #3f729b !important; }

.unique-color-dark {
  background-color: #1c2331 !important; }

.special-color {
  background-color: #37474f !important; }

.special-color-dark {
  background-color: #263238 !important; }